{% extends "base.html" %}

{% block content %}
<p>"Life goes pretty fast. If you don't stop to look around once in a while, you
   might miss it" - Ferris</p>
<br/>
<p>
  Each <strong>day</strong> there is a prompt. Each day you give a response.
  Look back at your responses once in a while. Reflect, adjust and move on to
  better things. Live your life and let this catch a little of your insight
  every day for you to look back on later.
</p>
<p>
  Also, to be super clear, your responses are private. Only you can see them.
  Ever.
</p>
{% endblock content %}
